.banner{
    background-image: url('../../../images/bg5.jpg');
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 550px;
    margin-bottom: 100px;
}
.banner-text{
    text-align: left;
    position: relative;
    top: 24%;
    left: 10%;
}
.banner-text h1{
    font-weight: 800;
    font-size: 55px;
    color: #1e78c1;
    margin-bottom: 10px;
}
.banner-text p{
    font-weight: 100;
    margin-bottom: 34px;
}
.banner-btn{
    background-color: #1e78c1;
    color: #fff;
    border: none;
    padding: 7px 14px;
    font-size: 14px;
}
.banner-btn:hover{
    background-color: white;
    border: 1px solid #1e78c1;
    color: black;
}