.my-nav{
    padding-right: 40px;
}
.my-nav{
    color: rgba(0, 0, 0, 0.918);
    text-decoration: none;
}
.my-nav:hover{
    color: #2f89fc;
}

.appointment-btn{
    background: #1e78c1;
    border: 1px solid #17598f;
    color: #fff;
    cursor: pointer;
    padding: 4px 27px;
    margin-left: 10px;
}
.appointment-btn:hover{
    background-color:#fff;
    border: 1px solid #17598f;
    color: black;
}